main {
	margin: 0 auto;
	max-width: 90%;
	padding: 50px 30px;
	flex: 1 0 auto;
	min-height: auto;
}
:root {
	--primary: #22ced9;
	--secondary: #ea5555;
	--tertiary: #284374;
	--quarternary: #d09e6c;
	--light: #fafafa;
	--dark: #000000;
	--darker: #111111;
	--error: rgb(228, 46, 1);
	--spacing-one: calc(1rem * 0.5);
	--spacing-two: calc(1rem);
	--spacing-five: calc(2.5rem);
}

* {
	box-sizing: border-box;
}

html,
body {
	min-height: 100%;
}

body {
	margin: 0;
	padding: 0;
	font-weight: 600;
	line-height: 1.5;
	font-size: 18px;
	background-color: black;
	/* background: rgb(78,67,164);
  background: linear-gradient(90deg, rgba(78,67,164,1) 0%, rgba(162,100,157,1) 100%); */
	color: var(--light);
	font-family: Arial, Helvetica, sans-serif;
	display: flex;
	flex-direction: column;
	height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 500;
	margin: 5px 0;
	line-height: 1.25;
}

h1 {
	font-size: 2.5rem;
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.75rem;
}

h4 {
	font-size: 1.5rem;
}

h5 {
	font-size: 1.25rem;
}

h6 {
	font-size: 1rem;
}

p {
	font-size: 1.1rem;
	margin-top: 0;
}

a {
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	text-decoration: underline;
}

ul {
	padding-inline-start: 0;
}

header {
	background: var(--dark);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header a {
	color: var(--light);
}

h1.title {
	font-size: 50px;
}

h1.title:hover {
    animation: 20s multicolor;
    cursor: none;
}

@keyframes multicolor {
    0% {
        color: white;
    }
    12.5% {
        color: violet;
    }
    25% {
        color: indigo;
    }
    37.5% {
        color: blue;
    }
    50% {
        color: green;
    }
    62.5% {
        color: yellow;
    }
    75% {
        color: orange;
    }
    87.5% {
        color: red;
    }
    100% {
        color: white;
    }
}

.title {
	margin: 1rem 0 1rem 126px;
}

::-webkit-scrollbar {
	width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	background: #0000; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: white; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	background: lightgrey; 
  }

button {
	font-size: 1em;
	text-decoration: none;
	padding: 0.25rem 1rem;
	border-radius: 0.5rem;
	border: none;
	outline: none;
	cursor: pointer;
	background-color: var(--primary);
	margin-left: 1em;
}

button:hover {
	opacity: 0.8;
}

button[disabled] {
	cursor: default;
	opacity: 0.8;
}

span[role='img'] {
	cursor: default;
}

form {
	width: 40%;
}

input {
	font-size: 1rem;
	padding: 0.25rem;
	border: 1px solid var(--dark);
	outline: none;
	border-radius: 3px;
	transition: box-shadow 0.2s;
}

input:focus {
	border: 1px solid var(--primary);
	box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5);
}

li {
	list-style: none;
}

.nav-main {
	display: fixed;
	border-bottom: 1px solid white;
	top: 0;
	right: 0;
}

nav a {
	margin: 0 1em;
}

nav a:hover {
	text-decoration: none;
}

nav li {
	cursor: pointer;
	padding: 2px;
}

.navH:hover {
	background-color: var(--primary);
}

.navActive {
	margin-right: var(--spacing-two);
	margin-left: var(--spacing-two);
	background-color: var(--primary);
	list-style-type: none;
}

textarea {
	width: 300px;
	height: 60px;
	border: 3px solid #cccccc;
	padding: 5px;
	border-radius: 3px;
}

/* ----------------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------- */

#about1 {
	margin-bottom: 1em;
}

.info-row {
	display: flex;
}

.summary-column {
	flex: 50%;
	margin: 3em 5em 0 7em;
}

.portrait-column {
	flex: 50%;
	align-items: center;
	justify-content: center; 
}
.portrait {
	border-radius: 50%;
	border-width: 4px;
	border-color: #22ced9;
	height: 15em;
	width: auto;
	margin: 3em;
}



/* portfolio grid */
.portfolio-header {
	margin: 1rem;
}
.portfolio-box {
	margin: 0 5rem;
	margin-bottom: 4em;
}
.grid {
	display: flex;
	min-height: 100%;
	flex-direction: column;
	margin-left: 2em;
}
.grid-row {
	display: flex;
	flex: 1;
}
.grid-item {
	flex: 1;
	margin-left: 1em;
}
.grid-text {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 2.3rem;
}
#project-title {
	color: var(--primary);
}

.icon-p {
	border-style: none;
	height: 24px;
	width: 24px;
	margin: 0 0 0 1rem;
}
.icon-p:hover {
	opacity: 0.8;
}

img {
	border: 2px solid white;
	border-radius: 5px;
}

.img-thumbnail {
	width: auto;
	height: 300px;
	cursor: pointer;
}
.img-thumbnail:hover {
	opacity: 0.8;
}

.container {
	width: 85%;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

.email-link {
	color: var(--primary);
}

#contact-form {
	margin: 1rem;
}
.contact-field-div {
	margin: 0.5rem 0 0.5rem 1rem;
}
.form-box {
	height: 100%;
	margin: 0rem 5rem;
	
}
.resume-section {
	margin: auto;
}

.resume-box {
	display: flex;
	justify-content: center;
	align-items: center;
}

.download {
	margin-top: 25px;
}

.download-text {
	padding: 10px;
	color: rgb(97, 31, 202);
	font-size: 1em;
	background-color: var(--primary);
	margin-bottom: 25px;
}

#skill-columns {
	width: 50%;
    float: left;
    padding: 20px;
}
#skill-headings {
	border-bottom: 2px solid var(--primary);
	font-size: 30px;
}

.skill-box {
	border: 3px solid var(--primary);
	margin: 20px 30px 5em 30px;
}
.proficiencies {
	display: flex;
	justify-content: center;
	border-bottom: solid var(--primary);
}

.liDuplicate {
	list-style-type: circle;
}

.footer-nav {
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.9);
}
.footer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex: 1 0 auto;
}
.footer-li {
	padding: 0 2rem 0 2rem;
	list-style-type: none;
}
.footer-li:hover {
	opacity: 0.8;
}

.icon {
	border-style: none;
}

.flex-row {
	display: flex;
	flex-wrap: wrap;
}

.space-between {
	justify-content: space-between;
}

.flex-end {
	justify-content: flex-end;
}

.mx-1 {
	margin-right: var(--spacing-one);
	margin-left: var(--spacing-one);
}

.mx-2 {
	margin-right: var(--spacing-two);
	margin-left: var(--spacing-two);
	list-style-type: none;
}

.my-1 {
	margin-top: var(--spacing-one);
	margin-bottom: var(--spacing-one);
}

.my-2 {
	margin-top: var(--spacing-two);
	margin-bottom: var(--spacing-two);
}

.my-5 {
	margin-top: var(--spacing-five);
	margin-bottom: var(--spacing-five);
}

.px-1 {
	padding-right: var(--spacing-one);
	padding-left: var(--spacing-one);
}

.px-2 {
	padding-right: var(--spacing-two);
	padding-left: var(--spacing-two);
}

.py-1 {
	padding-top: var(--spacing-one);
	padding-bottom: var(--spacing-one);
}

.py-2 {
	padding-top: var(--spacing-two);
	padding-bottom: var(--spacing-two);
}

.card {
	width: 25%;
	text-align: center;
}

.contact-header {
	background-color: rgb(97, 31, 202);
	padding: 0.5em;
	margin-bottom: 3em;
}

.buttonDuplicate {
	background: var(--primary);
	border: 0;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	font-weight: 600;
	margin: 0 0 1rem 1rem;
	padding: 10px 15px;
}

.aDuplicate {
	color: white;
	font-weight: 600;
	padding: 2px 4px;
	margin-left: -2px;
	margin-right: -2px;
}

@media only screen and (max-width: 1000px) {
	h1.title {
		font-size: 40px;
	}
}

@media only screen and (max-width: 800px) {
	header {
		display: flex;
		justify-content: center;
		margin: none;
	}

	h1.title {
		margin: 20px;
	}

	ul.flex-row {
		display: flex;
		justify-content: center;
		margin: auto;
	}

	.portrait {
		height: 10em;
		width: auto;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	.info-row {
		display: block;
	}

	#about1 {
		font-size: 24px;
	}
	.summary {
		font-size: 15px;
	}
	div.summary-column {
		margin-left: 30px;
		margin-right: 30px;
	}

	h3 {
		font-size: 20px;
	}

	.grid-row {
		display: grid;
	}
	.grid {
		margin: 0 auto 2em auto
	}

	.img-thumbnail {
		height: 150px;
		width: auto;
	}

	.portfolio-box {
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 3em;
	}

	.portfolio-header {
		margin: auto;
	}

	div.summary-column {
		margin-top: 1em;
	}

	.img-portrait {
		margin-top: 1em;
	}

	.contact-header {
		background-color: rgb(97, 31, 202);
		padding: 0.5em;
		margin-bottom: 3em;
	}

	h3.contact-header {
		text-align: center;
	}

	#skill-headings {
		font-size: 20px;
	}

	ul.skill-ul {
		font-size: 16px;
	}

	.download-text {
		font-size: 0.8em;
	}
	div.download {
		display: flex;
		justify-content: center;
	}

	h1.title {
		font-size: 30px;
	}
}